/*
color pallete
Jet: #353535
White: #FFFFFF
Light Gray: #D2D7DF
Pale Silver: #BDBB0
Middle Grey: #8A897C
*/

/* general */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  color: #353535;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Prata", serif;
  letter-spacing: 0.1rem;
}

a,
a:visited a:active {
  color: inherit;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 80rem;
  margin: 0px auto;
  padding: 0rem 5rem;
}

.header {
  font-family: "Prata", serif;
  list-style-type: upper-roman;
  color: #8a897c;
  padding: 0;
  font-size: 3rem;
  margin-bottom: 0;
}

.header span {
  color: #353535;
  font-size: 3rem;
  letter-spacing: 0.3rem;
}

/* preload */

#preload {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: white;
}

#preload h1 {
  font-size: 500%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#preload {
  animation: fadeOut 500ms ease-out 6000ms forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -1000;
  }
}

@keyframes changeColorT {
  from {
    color: #353535;
  }
  to {
    color: #8a897c;
  }
}

@keyframes changeColorW {
  from {
    color: #353535;
  }
  to {
    color: #d2d7df;
  }
}

#o {
  animation: fadeOut 500ms ease-out 2000ms forwards;
}
#n2 {
  animation: fadeOut 500ms ease-out 2500ms forwards;
}
#y {
  animation: fadeOut 500ms ease-out 3000ms forwards;
}
#o2 {
  animation: fadeOut 500ms ease-out 3500ms forwards;
}
#n {
  animation: fadeOut 500ms ease-out 4000ms forwards;
}
#g {
  animation: fadeOut 500ms ease-out 4500ms forwards;
}

#t {
  animation: changeColorT 4500ms ease-in 0ms forwards,
    fadeOut 500ms ease-out 5000ms forwards;
}

#w {
  animation: changeColorW 4500ms ease-in 0ms forwards,
    fadeOut 500ms ease-out 5500ms forwards;
}

@media screen and (max-width: 900px) {
  #preload h1 {
    font-size: 400%;
  }
  .main {
    padding: 0rem 3rem;
  }
}

/* Navbar */
#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
  min-height: 50px;
  width: 100%;
  background-color: white;
  z-index: 900;
  /* box-shadow: 0px 10px 5px 0px rgba(219, 219, 219, 1); */
}

@media screen and (max-width: 900px) {
  #navbar {
    display: none;
  }
}

#navbar #menu {
  position: fixed;
  right: 4rem;
  display: flex;
  align-items: center;
  font-family: "Prata", serif;
  font-size: 1.1rem;
}

#navbar #menu ol {
  display: flex;
  justify-content: space-evenly;
  width: 35rem;
  list-style-type: upper-roman;
  color: #8a897c;
}

#navbar li a {
  color: #353535;
  letter-spacing: 0.25rem;
  transition: 300ms ease-in-out;
}

#navbar li a:hover {
  color: #d2d7df;
  cursor: pointer;
}

#navbar #logo {
  position: relative;
  left: 3rem;
  height: 3rem;
  width: 4rem;
}

#navbar #resume {
  color: #8a897c;
  border: 0.1rem solid #8a897c;
  padding: 0.5rem;
  letter-spacing: 0.25rem;
  transition: 300ms ease-in-out;
}

#navbar #resume:hover {
  background-color: #efeddf;
}

/* hero */
#hero h1 {
  font-size: 1.5rem;
  color: #8a897c;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

#hero h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

#hero p {
  font-size: 1.5rem;
  width: 70%;
  margin-bottom: 3rem;
  line-height: 2rem;
}

#hero a {
  color: #8a897c;
  font-size: 1.5rem;
  border: 0.1rem solid #8a897c;
  padding: 1rem;
  margin-top: 3rem;
  transition: 300ms ease-in-out;
}

#hero a:hover {
  background-color: #efeddf;
}

@media screen and (max-width: 900px) {
  #hero h2 {
    font-size: 4rem;
  }

  #hero p {
    width: 100%;
  }
}

/* about */
#about #container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#about #left {
  width: 35rem;
}

#about #left p {
  font-size: 1.3rem;
  line-height: 2rem;
}

#about #right {
  height: 18rem;
  width: 10rem;
  /* background-color: red; */
}

#about #left ul {
  display: grid;
  font-size: 1.3rem;
  grid-template-columns: 1fr 1fr;
}

#about #left ul li:before {
  content: "";
  border-color: transparent #8a897c;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 0.9em;
  position: relative;
}

#about #left ul li {
  list-style: none;
}

@media screen and (max-width: 900px) {
  #about #right {
    display: none;
  }
}

/* works */
#works .feature {
  margin-top: 5rem;
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

#works .feature img {
  width: 32rem;
  height: 18rem;
  border-radius: 1rem;
}

.feature .text-container {
  width: 32rem;
}

#works #stocfolio .text-container {
  text-align: right;
  margin-left: 2rem;
}

.feature h1 {
  font-size: 1rem;
  color: #8a897c;
}

.feature h2 {
  font-size: 3rem;
}

.feature p {
  font-size: 1.2rem;
  text-align: justify;
}

#stocfolio .icon a {
  margin-left: 1rem;
  transition: 300ms ease-in-out;
}

#postar .icon a {
  margin-right: 1rem;
  transition: 300ms ease-in-out;
}

.feature .icon a:hover {
  color: #8a897c;
}

.feature .stack {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 600;
  color: #5f5e53;
}

#stocfolio .stack {
  justify-content: flex-end;
}

#stocfolio .stack li {
  margin-left: 1rem;
}

#postar .stack {
  justify-content: flex-start;
}

#postar .stack li {
  margin-right: 1rem;
}

#works #postar .text-container {
  text-align: left;
  width: 32rem;
  margin-right: 2rem;
}

@media screen and (max-width: 900px) {
  #works .feature {
    flex-wrap: wrap;
    justify-content: center;
  }

  #works .feature img {
    width: 24rem;
    height: 12.5rem;
  }

  .feature .text-container {
    width: 24rem;
    margin: 0rem 0rem;
  }

  #works #stocfolio .text-container {
    text-align: left;
    margin: 1rem 0rem;
  }

  #stocfolio .icon a {
    margin-right: 1rem;
    transition: 300ms ease-in-out;
  }

  #works #postar .text-container {
    width: 24rem;
    margin: 0;
  }
}

/* projects */
#projects {
  align-items: center;
  max-width: 95rem;
}

#projects > h1 {
  margin-bottom: 3rem;
}

#projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub {
  position: relative;
  background-color: whitesmoke;
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  border-radius: 1rem;
  transition: 500ms ease-in-out;
  margin: 1rem;
}

.sub:hover {
  transform: translateY(-0.5rem);
}

.sub .deco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.deco > i {
  color: #8a897c;
}

.sub .deco .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.sub .deco .icons li {
  margin-left: 1rem;
}

.deco a {
  transition: 300ms ease-in-out;
}

.deco a:hover {
  color: #8a897c;
  cursor: pointer;
}

.sub h1 {
  margin-top: 2rem;
}

.sub p {
  line-height: 1.4rem;
}

.sub .stack {
  position: absolute;
  bottom: 0;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 600;
  color: #5f5e53;
}

.sub .stack li {
  line-height: 2rem;
  margin-right: 1rem;
}

.stack li {
  font-family: "Prata", serif;
}

@media screen and (max-width: 900px) {
  #projects > h1 {
    margin-top: 3rem;
  }
}

/* skills */
#skills {
  height: 100%;
}
#skills > h1 {
  margin-bottom: 3rem;
}
#skills-container h1 {
  margin-bottom: 1rem;
}

#skills-container .tech {
  display: flex;
  align-items: center;
}

#skills .icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
  margin: 0.5rem;
  /* color: #5f5e53; */
  color: #8a897c;
}

#skills .icon-wrapper img {
  height: 5rem;
  width: 5rem;
  color: #8a897c;
}

#skills-container i {
  position: relative;
  font-size: 5rem;
}

#skills-container label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

@media screen and (max-width: 900px) {
  #skills {
    display: none;
  }
}

/* contact */
#contact {
  position: relative;
  align-items: center;
}

#contact p {
  text-align: center;
  max-width: 40rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

#contact footer {
  position: absolute;
  bottom: 1rem;
  font-family: "Prata", serif;
}

#contact ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

#contact ul li {
  font-size: 1.5rem;
  margin: 0 1.5rem;
}

#contact ul a {
  color: #353535;
  transition: 500ms ease-in-out;
}

#contact ul a:hover {
  color: #8a897c;
  cursor: pointer;
}

#contact > a {
  color: #8a897c;
  font-size: 1.5rem;
  border: 0.1rem solid #8a897c;
  padding: 1rem;
  margin-top: 3rem;
  transition: 300ms ease-in-out;
  /* border-radius: 0.5rem; */
}

#contact > a:hover {
  background-color: #efeddf;
}
